/*
* Profile for use on a slurm queueing system
* This file will have to be modified to your local system
* This file currently assumes that commands are available
* on the command line, somehow.
*
* Currently this file is tuned to work on the SAGA HPC cluster
* https://www.sigma2.no/node/537
*
* NOTE : The user has to modify the account settings in the line "clusterOptions"
*/

/*
* The underlying assumptions are:
* that all processes can use slurm,
* and unless otherwise specified use 4 cpus,
* and have an upper limit of one hour.
* Exeption is the step get_abundances which can not be run using slurm, since it requires internet access.
* That step uses the local mode and is labeled 'local' in the code.
*/

process {
    executor = 'slurm'
    clusterOptions = '--job-name=NCLUST --account=nn9305k --mem=35G'  // MODIFY for own usage
    queueSize = 96
    maxRetries = 3
    errorStrategy='retry'

    withLabel: local {executor = 'local'}  // Process get_abundances requires internet access, so preventing slurm usage.

    time = { 1.h * task.attempt }
    //withLabel: longtime {time = { 4.h * task.attempt }}
}
